/*FONT IMPORT*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@300;400;600&display=swap");
/*ROOT*/
:root {
  /*reseting rem value; 1rem = 10px*/
  font-size: 10px;
  --header-height: 5rem;
  /*colors*/
  --body-color: #FBFBFB;
  --text-color-1: #302B4D;
  --text-color-2: #151515;
  --green-color: #66EBB1;
  --pink-color: #FF7591;
  --yellow-color: #FFE668;
  --red-color: #FF415E;
  /*font-size & tipography*/
  --main-font: 'Merriweather', serif;
  --second-font: 'Poppins', sans-serif;
  --biggest-font-size: 4.2rem;
  --bigger-font-size: 3rem;
  --big-font-size: 2rem;
  --normal-font-size: 1.3rem;
  --small-font-size: 1rem;
  /*font-weight*/
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 900;
  /*margin-bottom*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  /*z-index layer*/
  --z-layer-1: -1;
  --z-layer-2: 2;
  --z-layer-3: 3;
  --z-layer-4: 4;
  /*hover overlay animation*/
  --img-transition: .4s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

/*RESPONSIBLE FONNT-SIZE*/
@media screen and (min-width: 900px) {
  :root {
    --biggest-font-size: 5.5rem;
    --bigger-font-size: 4rem;
    --big-font-size: 2.5rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
  }
}

/*RESET AND BASE*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--text-color-1);
  margin-bottom: var(--mb-2-5);
}

h2 {
  font-size: var(--big-font-size);
  color: var(--text-color-1);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-1);
}

p {
  color: var(--text-color-1);
}

b {
  font-weight: var(--font-bold);
}

img, video {
  max-width: 100%;
  height: 100%;
}

button, input {
  outline: none;
  border: none;
  cursor: pointer;
}

main {
  width: 100%;
}

body {
  background-color: var(--body-color);
  width: 100vw;
  font-family: var(--main-font);
}

/*REUSABLE CLASSES*/
.section {
  width: 100%;
  max-width: 968px;
  margin: 0 auto;
}

.section__title {
  font-size: var(--bigger-font-size);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: var(--mb-3);
}

.container {
  max-width: 968px;
  width: 100%;
  padding: 2rem 3rem 0;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.ingo-logo-go {
  color: var(--green-color);
}

/*HEADER*/
.nav {
  width: 100%;
  height: var(--header-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  background: transparent;
  z-index: var(--z-layer-4);
  position: fixed;
}

.nav__logo {
  font-size: var(--big-font-size);
  color: var(--red-color);
}

.nav__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  text-align: center;
}

.nav__link {
  font-size: var(--normal-font-size);
}

.nav__toggle i {
  font-size: var(--big-font-size);
}

/*NAV TOGGLE*/
@media screen and (max-width: 899px) {
  .nav__menu {
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    -webkit-transition: var(--img-transition);
    transition: var(--img-transition);
    background: rgba(48, 43, 77, 0.35);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-bottom: 5rem;
  }
  .nav__menu i {
    font-size: var(--big-font-size);
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 4rem;
}

#close-menu-icon {
  position: absolute;
  top: 3rem;
  right: 3rem;
}

/*CLASS SHOW-MENU*/
.show-menu {
  right: 0;
}

/*HOME PAGE*/
.home__section {
  height: 100vh;
}

.home__container {
  height: 100%;
  padding: 0 0 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.home__data {
  width: 50%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__text {
  width: 400px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: var(--z-layer-3);
}

.home__text h1 {
  letter-spacing: .8rem;
}

.home__text p {
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  line-height: 2rem;
}

.home__img-selector {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: var(--z-layer-3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__img-selector button {
  width: 65px;
  height: 60px;
}

.home__img-selector button i {
  font-size: var(--big-font-size);
}

#img__change-left {
  background: var(--green-color);
}

.home__social {
  position: absolute;
  bottom: 0;
  left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
  font-size: var(--normal-font-size);
}

.home__img {
  width: 50%;
  height: 100%;
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: var(--z-layer-2);
  overflow: var(--img-hidden);
}

.home__img img {
  -o-object-fit: cover;
     object-fit: cover;
  float: right;
  -webkit-filter: contrast(0.8);
          filter: contrast(0.8);
}

#img__display {
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  font-size: var(--biggest-font-size);
  color: var(--body-color);
  z-index: var(--z-layer-3);
}

/*FIND YOURSELF*/
.find__section {
  padding: 3rem 0;
}

.find__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 3rem;
}

.adventure__card {
  max-width: 200px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-right: 3rem;
  border-left: 1.3px solid lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
}

.adventure__card a {
  text-decoration: underline;
  font-weight: var(--font-semi-bold);
  margin-left: 1rem;
}

.adventure__card p {
  padding: 0 2rem 0 1rem;
}

#adventure-card-1 {
  margin: 6rem 3rem 0 0;
}

#adventure-card-1 .adventure__card__title {
  background: var(--pink-color);
  opacity: .6;
}

#adventure-card-1 a {
  color: var(--pink-color);
}

#adventure-card-2 .adventure__card__title {
  background-color: var(--yellow-color);
  opacity: .6;
}

#adventure-card-2 a {
  color: var(--yellow-color);
}

#adventure-card-3 {
  margin: 12rem 0 0 0;
}

#adventure-card-3 .adventure__card__title {
  background: var(--green-color);
  opacity: .6;
}

#adventure-card-3 .adventure__card__title h2 {
  right: -40px;
}

#adventure-card-3 a {
  color: var(--green-color);
}

.adventure__card__title {
  width: 50px;
  height: 25px;
  position: relative;
}

.adventure__card__title h2 {
  font-size: var(--normal-font-size);
  position: absolute;
  top: -10px;
  right: -15px;
  font-weight: var(--font-semi-bold);
  color: black;
  opacity: 1;
}

.adventure__card__img {
  overflow: var(--img-hidden);
}

.adventure__card__img img {
  height: 260px;
  width: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*BREAKPOINTS*/
@media screen and (min-width: 900px) {
  .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav i {
    visibility: hidden;
  }
  .nav__menu {
    margin-left: 3rem;
  }
  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__list li {
    margin-left: 5rem;
  }
  .nav__list li a {
    font-size: var(--small-font-size);
  }
  .home__data {
    margin-left: 7rem;
  }
  .home__text {
    width: 700px;
  }
}
/*# sourceMappingURL=styles.css.map */